/* Light Theme */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Add any additional custom styles for dark mode */
